<div class="row">
	<div id="{{ID}}" class="col-md-12 entry">

		<div style="{{DISPLAY_ORGANIZATION}}">
			{{ORGANIZATION}}. 
		</div>

		<div style="{{DISPLAY_AUTHOR}}">
			{{AUTHOR}} 
		</div>
		
		<div style="{{DISPLAY_YEAR}}">
			({{YEAR}}). 
		</div>

		<div style="{{DISPLAY_TITLE}}">
			{{TITLE}}. 
		</div>

		<div style="{{DISPLAY_TYPE}}">
			{{TYPE}}. 
		</div>

		<div style="{{DISPLAY_BOOKTITLE}}">
			Title of work: {{BOOKTITLE}}. 
		</div>

		<div style="{{DISPLAY_SERIES}}">
			{{SERIES}}. 
		</div>

		<div style="{{DISPLAY_EDITOR}}">
			{{EDITOR}} (Ed.), 
		</div>

		<div style="{{DISPLAY_JOURNAL}}">
			{{JOURNAL}}, 
		</div>

		<div style="{{DISPLAY_VOLUME}}">
			{{VOLUME}}
		</div>

		<div style="{{DISPLAY_CHAPTER}}">
			({{CHAPTER}}), 
		</div>

		<div style="{{DISPLAY_NUMBER}}">
			({{NUMBER}}), 
		</div>

		<div style="{{DISPLAY_INSTITUTION}}">
			{{INSTITUTION}}, 
		</div>

		<div style="{{DISPLAY_SCHOOL}}">
			{{SCHOOL}}, 
		</div>

		<div style="{{DISPLAY_ADDRESS}}">
			{{ADDRESS}}:  
		</div>

		<div style="{{DISPLAY_MONTH}}">
			{{MONTH}} 
		</div>

		<div style="{{DISPLAY_PUBLISHER}}">
			{{PUBLISHER}}.  
		</div>

		<div style="{{DISPLAY_PAGES}}">
			{{PAGES}}.
		</div>

		<div style="{{DISPLAY_HOWPUBLISHED}}">
			{{HOWPUBLISHED}}. 
		</div>

		<div style="{{DISPLAY_NOTE}}">
			. Notes: {{NOTE}}. 
		</div>

		<div style="{{DISPLAY_CROSSREF}}">
			Reference to <a href="#{{CROSSREF}}">{{CROSSREF}}</a>. 
		</div>

		<div style="{{DISPLAY_KEY}}">
			inkey={{KEY}}.
		</div>

	</div>
</div>