<div class="row">
	<div class="col-md-12 entry">
		<div style="{{DISPLAY_AUTHOR}}">
			<i>{{AUTHOR}}</i>. 
		</div>

		<div style="{{DISPLAY_CHAPTER}}">
			"{{CHAPTER}}" In  
		</div>

		<div style="{{DISPLAY_TITLE}}">
			{{TITLE}},
		</div>

		<div style="{{DISPLAY_BOOKTITLE}}">
			{{BOOKTITLE}},
		</div>

		<div style="{{DISPLAY_SCHOOL}}">
			{{SCHOOL}},
		</div>

		<div style="{{DISPLAY_INSTITUTION}}">
			{{INSTITUTION}},
		</div>	

		<div style="{{DISPLAY_JOURNAL}}">
			{{JOURNAL}}. 
		</div>

		<div style="{{DISPLAY_PAGES}}">
			{{PAGES}}. 
		</div>

		<div style="{{DISPLAY_EDITION}}">
			, {{EDITION}} ed. 
		</div>

		<div style="{{DISPLAY_VOLUME}}">
			Chp. {{VOLUME}}.
		</div>

		<div style="{{DISPLAY_VOLUME}}">
			Vol. {{VOLUME}}.
		</div>
		<div style="{{DISPLAY_NUMBER}}">
			{{NUMBER}}.
		</div>

		<div style="{{DISPLAY_EDITOR}}">
			{{EDITOR}}.
		</div>

		<div style="{{DISPLAY_ADDRESS}}">
			{{ADDRESS}},
		</div>

		<div style="{{DISPLAY_PUBLISHER}}">
			{{PUBLISHER}}
		</div>

		<div style="{{DISPLAY_MONTH}}">
			{{MONTH}},
		</div>

		<div style="{{DISPLAY_YEAR}}">
			{{YEAR}}. 
		</div>

		<div style="{{DISPLAY_NOTE}}">
			Note: {{NOTE}}. 
		</div>

		<div style="{{DISPLAY_ANNOTE}}">
			Annotation: {{ANNOTE}}. 
		</div>

		<div style="{{DISPLAY_CROSSREF}}">
			Reference to {{CROSSREF}}. 
		</div>

		<div style="{{DISPLAY_HOWPUBLISHED}}">
			{{HOWPUBLISHED}}. 
		</div>

		<div style="{{DISPLAY_ORGANIZATION}}">
			{{ORGANIZATION}}. 
		</div>

		
	</div>
</div>